.huge_gopher img{
  position: absolute;
  display: none;
  left: -90%;
  top: 15%;
}
.gopher img {
  position: absolute;
  height: 5%;
  width: 25%;
  left: 60%;
  top: 1%;
}
.rectangle{
  text-align: center;
  background-color: red;
  position: absolute;
  top: 1%;
  left: 16%;
  box-shadow: 0px 0px 4px;
  border-radius: 2px;
  width: 600px;
  height: 62px;
  z-index: 500;
  display: block;
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

body{
    margin:0px;
    background:#000;
}
.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.header {
    height:150px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width: 90%;
    margin:0px auto;
}
.content {
    width: 90%;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}
.logout_button{
  position: absolute;
  top: 10%;
  right: 10%;
}
