<h1 style="text-align:center">Create Survey</h1>
<div class="info"><h3>Info: Create your survey to ask your survey-takers based on a 1-4 rating scale.</h3></div>
<p>Ex: How was your day today? 1 ... 2 ... 3 ... 4 ... (4 being the BEST!)</p>


<div class="survey-area">
  <ul id="question_list">
  <form action="/surveys" method="POST">
    <input type="text" placeholder="Survey Name">
      <textarea name="question_content" id="test" ></textarea>
      <input type="submit" placeholder="Add Question">
    <input type="submit" value="submit">
  </form>
  </ul>
</div>
