<div class="header-cont">
  <div class="header">
    <div class="banner">
      <div class="rectangle">Survey Gopher</div>
        <div class="gopher"><img src="http://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png"/></div>
        </div>
      </div>
<div class="content">
  <%if current_user%>
    <h1 style="text-align:center">Create Survey</h1>
    <div class="info"><h3>Info: Create your survey to ask your survey-takers based on a 1-4 rating scale.</h3></div>
    <p>Ex: How was your day today? 1 ... 2 ... 3 ... 4 ... (4 being the BEST!)</p>


    <div class="survey-area">
      <ul id="question_list">
      <form action="/surveys" method="POST">
        <input type="text" placeholder="Survey Name">
        <form>
          <input type="text" name="question_header" placeholder="Question Header">
          <textarea name="question_content" id="test" ></textarea>
          <input type="submit" placeholder="Add Question">
        </form>
        <input type="submit" value="submit">
      </form>
      </ul>
    </div>




  <%else%>
    <h1>Not your survey to make!</h1>
    <%=redirect "/"%>
  <%end%>
  </div>
</div>
