<div class="header-cont">
  <div class="header">
    <div class="banner">
      <div class="rectangle">Survey Gopher</div>
        <div class="gopher"><img src="http://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png"/></div>
        </div>
        <div class="huge_gopher"><img src="http://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png"/></div>
      </div>
<div class="content">
  <%if @id%>
  <%= erb :home %>
  <%else%>
  <h1 style="text-align:center">Welcome</h1>

  <form action="/sessions/new" method="get">
    <input type="submit" value="Login"/>
  </form>

  <form action="/users/new" method="get">
    <input type="submit" value="Sign Up"/>
  </form>
  <%end%>
  </div>
</div>
