<div class="header-cont">
  <div class="header">
    <div class="banner">
      <div class="rectangle">Survey Gopher</div>
        <div class="gopher"><img src="http://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png"/></div>
        </div>
      </div>
<div class="content">
 <h1> Log in!</h1>

 <form id="sign-in" method="post" action="/sessions">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <div class="submit"><input type="submit" value="Log In"></div>
  </form>
  </div>
</div>
